.product {
    align-items: center;
    display: flex;
    flex: 1 1 ;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
}

.product > p {
    flex-grow: 1;
}

@media (max-width: 1600px) {
    .product {
        max-width: 250px;
    }
}

.productImgList {
    width: 400px;
    border-radius: 2px;
}

@media (max-width: 1600px) {
    .productImgList{
        width: 250px;
    }
}

.product {
    background: #f2f2f2;
    padding: 1em;
    margin: 0.5em;
    border-radius: 4px;
    cursor: pointer;
}

.product:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    box-shadow: 4px 4px 5px grey;
}

.productHeader{
    font-size: 15px;
    padding-top: 15px;
}